/* src/styles/CatCard.module.css */
.card {
    width: 100%;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
